@use "./colors.scss" as *;

body {
    background-color: $neutral;
    min-height: 100vh;
    min-width: 100vw;
}

#id {
    min-height: 100vh;
    min-width: 100vw;
}

* {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}